extend layout
block content
  h1 #{data.hostname}
  form(name="edit", action="/api/edit", method="post")
    input(type='hidden', name='_method', value='PUT')
    table.table
      thead
        tr
          th
            | Inventory Tag
          th
            | Serial
          th
            | PO
          th
            | Cost
          th
            | Location
          th
            | OS Version
          th
            | Memory
      tbody
        tr
          td
            input(type="text", name="tag", value="#{data.tag}")
          td
            input(type="text", name="serial", value="#{data.serial}")
          td
            input(type="text", name="po", value="#{data.po}", placeholder="PO")
          td
            input(type="text", name="cost", value="#{data.cost}", placeholder="Cost")
          td
            input(type="text", name="building", value="#{data.location.building}", placeholder="Building", size="10")
            | &ndash;
            input(type="text" name="room", value="#{data.location.room}", placeholder="Rm.", size="4")
          td
            | #{data.os_version}
          td
            | #{data.memory}
    input(type="submit", name="submit", value="Edit")
